<nav class="navbar navbar-expand-lg navbar-custom bg-success text-white">
    <div class="container-fluid">
        <!-- Toggler Button for Mobile View -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="goToHome()" id="nav-Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white"  (click)="goToProfile()" id="nav-Profile">Profiles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#" id="nav-Reports">Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#" id="nav-Settings">Settings</a>
                </li>
            </ul>
            <!-- Right-aligned icons -->
            <div class="d-flex align-items-center">
                <a class="nav-link me-3" href="#">
                    <i class="bi bi-bell" style="font-size: 1.5rem;"></i>
                </a>
                <a class="nav-link"  (click)="goToProfile()" >
                    <img  [src] ="imageUrl" alt="Profile" class="profile-img rounded-circle"  >
                </a>
            </div>
        </div>
    </div>
</nav>    