<div class="d-flex">
  <div id="vacation-requests-card" class="card bg-success text-white card-custom me-3 me-5 mt-4" style="width: 15rem;">
    <div class="card-body shadow">
      <h1 class="card-title" id="vacation-requests-count">10</h1>
      <i class="bi bi-calendar2-check" style="font-size: 3rem;"></i>
      <p class="card-text">Vacation Requests</p>
    </div>
  </div>

  <!-- Leave Requests Card -->
  <div id="leave-requests-card" class="card bg-success text-white card-custom mt-4" style="width: 15rem;">
    <div class="card-body shadow">
      <h1 class="card-title" id="leave-requests-count">10</h1>
      <i class="bi bi-calendar2-date" style="font-size: 3rem;"></i>
      <p class="card-text">Leave Requests</p>
    </div>
  </div>
</div>