<div class="card bg-transparent shadow mb-3 card-custom me-5 mt-4 ms-4" style="max-width: 100%; background-color:rgba(236, 238, 238, 0.553);" >
    <div class="card-body" style="background-color: rgba(236, 238, 238, 0.553);">
      <div class="d-flex align-items-center flex-wrap">
        <img src="{{profileData?.profileImage}}" alt="Profile" class="profile-img rounded-circle">
        <div class="ms-3">
          <p class="card-title fw-bold mb-0 profile-name" style="font-family: Arial, Helvetica, sans-serif;">{{profileData?.name}}</p>
          <p class="card-subtitle text-body-secondary fw-normal mb-0 profile-job-title" style="font-family: Arial, Helvetica, sans-serif;">{{profileData?.jobTitle}}</p>
          <p class="card-subtitle text-body-secondary fw-light mb-0 profile-subtitle">{{profileData?.subtitle}}</p>
        </div>
        <a href="#" class="btn btn-sm ms-auto bg-success text-white p-3 fw-bold">New Request</a>
      </div>
    </div>
    <div class="card-body" style="background-color: rgba(236, 238, 238, 0.553);">
      <div class="d-flex flex-wrap">
        <div class="icon-container d-flex align-items-center me-4 mb-3 mb-md-0">
          <i class="bi bi-person me-2 ps-5" style="font-size: 2rem; color: green;"></i>
          <div>
            <p class="card-title fw-bold mb-1">Reporting To:</p>
            <h6 class="card-subtitle mb-0 text-body-secondary">{{profileData?.reportingTo}}</h6>
          </div>
        </div>
        <div class="icon-container d-flex align-items-center me-4 mb-3 mb-md-0">
          <i class="bi bi-star me-2 ms-5" style="font-size: 2rem; color: green;"></i>
          <div>
            <p class="card-title fw-bold mb-1">Corporate Level:</p>
            <h6 class="card-subtitle mb-0 text-body-secondary">{{profileData?.corporateLevel}}</h6>
          </div>
        </div>
        <div class="icon-container d-flex align-items-center me-4 mb-3 mb-md-0">
          <i class="bi bi-hourglass-split me-2 ms-5" style="font-size: 2rem;color: green;"></i>
          <div>
            <p class="card-title fw-bold mb-1">Lifetime:</p>
            <h6 class="card-subtitle mb-0 text-body-secondary">{{profileData?.lifetime}}</h6>
          </div>
        </div>
        <div class="icon-container d-flex align-items-center me-4 mb-3 mb-md-0">
          <i class="bi bi-tree-fill me-2 ms-5" style="font-size: 2rem;color: green;"></i>
          <div>
            <p class="card-title fw-bold mb-1">Vacation Days Left:</p>
            <h6 class="card-subtitle mb-0 text-body-secondary">{{profileData?.vacationDaysLeft}}</h6>
          </div>
        </div>
        <div class="icon-container d-flex align-items-center">
          <i class="bi bi-capsule me-2 ms-5" style="font-size: 2rem;color: green;"></i>
          <div>
            <p class="card-title fw-bold mb-1">Sick Days Left:</p>
            <h6 class="card-subtitle mb-0 text-body-secondary">{{profileData?.sickDaysLeft}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
