
<!-- start content -->
<div class="container mt-5">
  <!-- start welcome message and new request button -->
  <div class="row">
    <div class="col">
      <h4 class="text mb-4 position-relative">{{ welcomeMassege }}</h4>
    </div>
    <div class="col d-flex justify-content-end">
      <button class="btn btn-success btn-custom-spacing" (click)="handleClick()">New Request</button>
    </div>
  </div>
  <!-- end welcome message and new request button -->

<div class="container">
    <!-- Flex container for horizontal layout -->
    <div class="d-flex flex-wrap">
      <!-- User Card -->
      <app-user-card></app-user-card> 
      <app-vacation-and-leave></app-vacation-and-leave>

      <!-- end user card  -->
    </div>

      <!-- Vacation Requests Card -->
      <div class="d-block">
        <app-slider></app-slider>
        <vacations-requests></vacations-requests>

      </div>  

      <!-- Leave Requests Card -->
      

    <!-- Slider -->
    <!-- end slider -->
    <!-- vacation request start -->
    <!-- vacation request end -->
</div>
