<div id="newsCarousel" class="carousel slide mt-4" data-bs-ride="carousel" data-bs-interval="10000">
    <p style="font-size: 15px;" class="fw-bold">Latest news:</p>
    
    <!-- Indicators -->
    <div class="carousel-indicators">
        <button *ngFor="let news of newsData; let i = index" type="button" 
                [attr.data-bs-target]="'#newsCarousel'" 
                [attr.data-bs-slide-to]="i" 
                [class.active]="i === 0" 
                [attr.aria-current]="i === 0 ? 'true' : undefined" 
                [attr.aria-label]="'Slide ' + (i + 1)">
        </button>
    </div>
    
    <!-- Inner (carousel items) -->
    <div class="carousel-inner">
        <div *ngFor="let news of newsData; let i = index" 
             class="carousel-item" 
             [class.active]="i === 0">
            <img [src]="news.image" alt="{{ news.title }}" width="100%" height="300px"><q></q>
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ news.title }}</h5>
                <p [ngStyle]="{'font-weight': news.descriptionStyle === 'font-weight: 700;' ? '700' : 'normal'}">{{ news.description }}</p>
            </div>
        </div>
    </div>
    
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#newsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
