<div class="card bg-transparent shadow mb-3 card-custom me-5 mt-4 ms-4" style="max-width: 100%; background-color:rgba(236, 238, 238, 0.553);">

  <div class="card-body mt-0 pt-0" style="background-color: rgba(236, 238, 238, 0.553);"> <!-- Removed top margin and padding -->
      <nav class="navbar navbar-expand-lg">
          <div class="container-fluid d-flex justify-content-start">
              <i class="bi bi-calendar2-check me-2" style="font-size: 2rem; color: green;"></i>
              <a class="navbar-brand fw-bold" href="#">Pending Requests</a>
          </div>
      </nav>

      <div class="row mt-5" id="cards-container">
          <div class="col-md-6 col-lg-3 mb-3" *ngFor="let request of vacationRequests">
              <div class="card vacation-card">
                  <div class="card-body shadow" style="font-size: 12px;">
                      <div class="d-flex align-items-center justify-content-center">
                          <!-- Image container with flexbox to center the image -->
                          <img src="{{imageUrl}}" alt="Profile" class="card-photo rounded-circle mx-auto" style="width: 60px; height: 60px;">
                      </div>
                      <div class="ms-3 text-center">
                          <h5 class="card-title">{{ request.name }}</h5>
                          <p class="mb-1 fw-light">Submitted on:</p>
                          <p class="mb-2 fw-bold">{{ request.submittedOn }}</p>
                          <p class="mb-1 fw-light">Duration:</p>
                          <p class="mb-2 fw-bold">{{ request.duration }}</p>
                          <p class="mb-1">Currently at:</p>
                          <p class="mb-2 fw-bold" style="color: green;">{{ request.currentlyAt }}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Second Row of Cards -->
      <div class="row mt-4">
          <div class="d-flex mt-4 justify-content-end">
              <a href="#" class="text-success" style="font-size: 1.2rem; text-decoration: none;">View More ></a>
          </div>
      </div>
  </div>

</div>
